/* Please override here. */

@font-face {
    font-family: "vollkorn";
    font-style: normal;
    font-weight: 700;
    src: url("./type/vollkorn-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./type/vollkorn-bold-webfont.woff") format("woff"), url("./type/vollkorn-bold.ttf") format("truetype");
}
@font-face {
    font-family: "vollkorn";
    font-style: italic;
    font-weight: 700;
    src: url("./type/vollkorn-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("./type/vollkorn-bolditalic-webfont.woff") format("woff"), url("./type/vollkorn-bolditalic.ttf") format("truetype");
}
@font-face {
    font-family: "vollkorn";
    font-style: italic;
    font-weight: 400;
    src: url("./type/vollkorn-italic-webfont.eot?#iefix") format("embedded-opentype"), url("./type/vollkorn-italic-webfont.woff") format("woff"), url("./type/vollkorn-italic.ttf") format("truetype");
}
@font-face {
    font-family: "vollkorn";
    font-style: normal;
    font-weight: 500;
    src: url("./type/vollkorn-medium-webfont.eot?#iefix") format("embedded-opentype"), url("./type/vollkorn-medium-webfont.woff") format("woff"), url("./type/vollkorn-medium.ttf") format("truetype");
}
@font-face {
    font-family: "vollkorn";
    font-style: italic;
    font-weight: 500;
    src: url("./type/vollkorn-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("./type/vollkorn-mediumitalic-webfont.woff") format("woff"), url("./type/vollkorn-mediumitalic.ttf") format("truetype");
}
@font-face {
    font-family: "vollkorn";
    font-style: normal;
    font-weight: 400;
    src: url("./type/vollkorn-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./type/vollkorn-regular-webfont.woff") format("woff"), url("./type/vollkorn-regular.ttf") format("truetype");
}
@font-face {
    font-family: "vollkorn";
    font-style: normal;
    font-weight: 600;
    src: url("./type/vollkorn-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("./type/vollkorn-semibold-webfont.woff") format("woff"), url("./type/vollkorn-semibold.ttf") format("truetype");
}
@font-face {
    font-family: "vollkorn";
    font-style: italic;
    font-weight: 600;
    src: url("./type/vollkorn-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("./type/vollkorn-semibolditalic-webfont.woff") format("woff"), url("./type/vollkorn-semibolditalic.ttf") format("truetype");
}

html {
    font-family: 'vollkorn', 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-stretch: normal;
}

body {
    font-family: "vollkorn";
    font-feature-settings: "kern", "liga", "calt", "dlig", "hlig", "swsh", "salt" off;
    font-size: 100%;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    text-rendering: optimizelegibility;
}

a {
    color: black;
}

a:hover {
    color: red;
    text-decoration: none;
}

.navbar .container {
    border-top: 5px solid red;
    /*border-bottom: 2px solid #FF5555;*/
}

#site-logo {
    float: left;
}

#site-logo .site-logo-image {
    height: 128px;
    width: 128px;
}

#site-logo .site-logo-text {
    vertical-align: bottom;
    padding: 10px;
}

#site-logo .site-logo-title {
    font-weight: bold;
}

#site-logo .site-logo-description {
    font-weight: normal;
    font-size: smaller;
}

.social a:hover {
    text-decoration: none;
}

.social-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    } 